# Groq API Configuration
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=openai/gpt-oss-20b

# Qdrant Vector DB Configuration
QDRANT_URL=your_qdrant_cluster_url_here
QDRANT_API_KEY=your_qdrant_api_key_here
COLLECTION_NAME=docs_knowledge-base
SIMILARITY_THRESHOLD=0.75

# PostgreSQL / Supabase Database Connection
DATABASE_URL=postgresql://postgres.your_ref:your_password@aws-0-ap-south-1.pooler.supabase.com:6543/postgres

# Embeddings
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2
