fastapi==0.115.0
uvicorn==0.30.6
qdrant-client==1.11.0
sentence-transformers==3.1.1
groq>=0.18.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
streamlit==1.38.0
ragas==0.1.20
datasets==2.21.0
requests==2.32.3
langchain-groq<0.2.0